@import "tailwindcss";
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-work-sans), system-ui, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-outfit), system-ui, sans-serif;
}